<nav class="topnav">   
    <div class="nav-left d-flex align-items-center gap-3">
      <a routerLink="/recipes" class="d-flex align-items-center m-0">
        <img src="assets/LogoCookBook.webp" alt="CookBook" class="logo-img">
      </a>

      @if (userInfo.currentUser()) {
        <a routerLink="/recipes/create" routerLinkActive="active" class="btn-primary-m">Dodaj</a>
        <a routerLink="/user/ingredients" routerLinkActive="active" class="btn-primary-m">Składniki</a>
      }
    </div>

    <div class="nav-right d-flex align-items-center gap-3">
      @if (userInfo.currentUser(); as u) {
        <span class="hello">Witaj, {{ u.userName }}</span>
        <a [routerLink]="[{ outlets: { side: ['user'] } }]" class="btn-primary-m">Panel</a>
        <button class="btn-primary-logout" (click)="logout()">
        Wyloguj
      </button>

      } @else {
        <button class="btn-primary" (click)="showLogin()">Zaloguj</button>
        <button class="btn-outline" (click)="showRegister()">Zarejestruj</button>
      }
    </div>
</nav>

<div class="page-wrapper">

  <div class="side-image left" style="background-image: url('assets/food-left.jpg');"></div>
  <div class="side-image right" style="background-image: url('assets/food-right.jpg');"></div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <main class="col-lg-10 col-md-12 content-column">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>


<app-auth-modal #authModal (authSuccess)="onAuthSuccess()"></app-auth-modal>
