<section class="user-panel">

  <ng-container *ngIf="userInfoService.currentUser() as user">

    <h1 class="hello">Witaj, {{ user.userName }}!</h1>

    <div class="budget-card">
      Twój budżet: {{ userBudget() | currency:'PLN ' }}
    </div>

    <ng-container *ngIf="userIngredients().length; else noIngredients">
      <h3 (click)="toggleIngredients()" class="collapsible">
        <span class="ingredients">Twoje składniki</span>
        <span class="arrow">{{ showIngredients() ? '▲' : '▼' }}</span>
      </h3>

      <ul *ngIf="showIngredients()">
        <li *ngFor="let ing of userIngredients(); let i = index">
          {{ ing.ingredientName }} - {{ ing.quantity }} {{ ing.unit }}
        </li>
      </ul>
    </ng-container>

    <ng-template #noIngredients>
      <p>Brak składników.</p>
    </ng-template>
     <button class="btn-outline" (click)="onLogout()">
      <span>Wyloguj</span>
    </button>
  </ng-container>
</section>
