.user-panel {
  background: white;
  padding: 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
  color: #2E2E2E;
  border-radius: 0px 0px 15px 15px;
}

.hello {
  font-weight: 500;
  color: #2D6A4F;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: start;
  display: block;
  padding-bottom: 2rem;
}

.budget-card {
  background: #F1FAF4;
  border: 1px solid #B7E4C7;
  border-radius: 16px;
  padding: 16px 20px;
  color: #2D6A4F;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.05);
  margin: 0 auto 1.5rem auto;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 40vh;
}

.user-panel h2 {
  color: #2D6A4F;
  font-size: 1.4rem;
  margin-bottom: 0.25rem;
}

.user-panel p {
  color: #40916C;
  font-weight: 600;
  margin-bottom: 1rem;
}
p{
  font-size: 15px;
}
.ingirdients, h3{
  font-size: 1rem;
  font-weight: 700;
}

/* Sekcja składników */
.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E5F5EC;
  color: #2D6A4F;
  padding: 10px 14px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 1rem;
  transition: background 0.2s;
}

.collapsible:hover {
  background: #D8F3DC;
}

.arrow {
  font-size: 0.9rem;
}

/* Lista składników */
.user-panel ul {
  list-style: none;
  padding: 0;
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-panel li {
  background: #F1FAF4;
  border: 1px solid #B7E4C7;
  border-radius: 10px;
  padding: 8px 12px;
  color: #2D6A4F;
  font-weight: 600;
}
.btn-primary-logout{
  display: none;
}
@media screen and (max-width: 992px) {
  .user-panel{
    height: auto;
  }
.budget-card{
  width: 100%;
}

.user-panel button:hover {
  background: #DC2626;
}
.btn-primary-logout {
  position: relative;
  background: linear-gradient(135deg, #b75252, #dda900);
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: .3px;
  color: white !important;
  box-shadow: 0 6px 18px #b75252;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  text-decoration: none !important;
  width: 100%;
  justify-content: center;
}

.btn-primary-logout::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, #dda900, #b75252);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 0;
}

.btn-primary-logout:hover::before {
  opacity: 1;
}

.btn-primary-logout span {
  position: relative;
  z-index: 1; /* tekst nad pseudo-elementem */
}
}
